@font-face {
  font-family: 'Signika-Bold';
  src: url(fonts/Signika-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-Light';
  src: url(fonts/Signika-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-Medium';
  src: url(fonts/Signika-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-Regular';
  src: url(fonts/Signika-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-SemiBold';
  src: url(fonts/Signika-SemiBold.ttf) format('opentype');
}

.assignmentBody {
  margin: 0;
  padding: 0;
  background-color: #a9abaf;
}

a:hover {
  color: inherit;
}

h1,
p {
  margin: 0;
}

.mainBar {
  display: flex;
  background-color: #c2d0c3;
  width: 100%;
  font-family: 'Signika-Regular';
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gray {
  color: #797c81;
}

.right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flowTitleAndAuthor {
  padding-left: 10px;
}

.active {
  background-color: #5b5c5a;
}

.MuiButtonBase-root-MuiIconButton-root {
  color: red;
}

.timer {
  display: flex;
}

.timerText {
  padding-left: 5px;
}

/*white box design*/

/* .topBarContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.exitAndSubmit{
  width: 60%;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 100px;
}

.toolbar{
  width: 60%;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#D7D8DA;
}

.whiteBox{
  margin-top:100px;
  height: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  position: relative;
} */

.contentContainer {
  padding-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.topBarContainer {
  display: flex;
  width: 100%;
}

.toolbar {
  width: 40%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d7d8da;
}

.exitAndSubmit {
  width: 60%;
  display: flex;
  justify-content: end;
}

.whiteBox {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  height: 800px;
  background-color: white;
}

.toolbarIcon img {
  height: 25px;
}

.progressBar {
  width: 40%;
  background-color: #628010;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grayContainer {
position: absolute;
display: none;
top: 0;
width: 100%;
background-color: #eaeaea;
padding: 20px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin-bottom: 20px;
border: 1px solid #e0e0e0;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
overflow: hidden;
margin-left: -25px;
margin-right: -25px;
}

.visible {
  display: block;
  animation: dropdown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}