@font-face {
  font-family: 'Signika-Bold';
  src: url(fonts/Signika-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-Light';
  src: url(fonts/Signika-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-Medium';
  src: url(fonts/Signika-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-Regular';
  src: url(fonts/Signika-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Signika-SemiBold';
  src: url(fonts/Signika-SemiBold.ttf) format('opentype');
}

.assignmentBody {
  margin: 0;
  padding: 0;
  background-color: #a9abaf;
}

a:hover {
  color: inherit;
}

h1,
p {
  margin: 0;
}

.mainBar {
  display: flex;
  background-color: #424242;
  width: 100%;
  font-family: 'Signika-Regular';
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.mainBar p,
.mainBar h1,
.mainBar span {
  color: white;
}

.left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gray {
  color: #797c81;
}

.topBarBtn{
  padding-top: 10px;
  padding-bottom: 10px;
}

.right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flowTitleAndAuthor {
  padding-left: 10px;
}

.active {
  background-color: #5b5c5a;
}

.MuiButtonBase-root-MuiIconButton-root {
  color: red;
}

.timer {
  display: flex;
}

.timerText {
  padding-left: 5px;
}

.contentContainer {
  padding-top: 50px;
  height: 90vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.topBarContainer {
  display: flex;
  width: 100%;
}

.toolbar {
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #d7d8da;
}

.exitAndSubmit {
  width: 70%;
  display: flex;
  justify-content: end;
}

.whiteBox {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  height: 80%;
  background-color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.toolbarIcon img {
  height: 25px;
}

.progressBar {
  width: 40%;
  background-color: #628010;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grayContainer {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: -25px;
  margin-right: -25px;
  z-index: 3;
}

.visible {
  display: block;
  animation: dropdown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.loader {
  background-color: white;
  position: absolute;
  top: 50%;
}

.canvas {
  border: 1px solid black;
  width: 100%;
  position: absolute;
}

.canvasButtons {
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  right: 0px;
  top: 0px;
  border-style: solid;
  border-color: #1877b1;
  border-radius: 6px;
  border-width: 6px;
}

.canvasButton {
  display: inline-block;
  margin-right: 10px;
  z-index: 101;
}

#color {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  border-style: solid;
  border-color: black;
}

#color::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.writeIcon{
  width: 25px;
  height: 25px;
}

